<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is the about page</h1>
    <p1>
        <b>Pangolins</b>, sometimes known as scaly anteaters, are mammals of the
        order Pholidota (from Ancient Greek φολῐ́ς, "horny scale"). The one extant
        family, Manidae, has three genera: Manis, Phataginus and Smutsia. Manis
        comprises the four species found in Asia, while Phataginus and Smutsia
        include two species each, all found in Sub-Saharan Africa. These species
        range in size from 30 to 100 cm (12 to 39 in). A number of extinct
        pangolin species are also known.
      </p1>
</body>
</html>