<!DOCTYPE html>
<html>
  <head>
    <title>First server page</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./styles.css" />
  </head>

  <body>
    <div>
      <a href="https://www.facebook.com/">yha se facebook khole</a>
    </div>
    <h1>Pangolin</h1>
    <h2>Intro</h2>
    <p1>
      <b>Pangolins</b>, sometimes known as scaly anteaters, are mammals of the
      order Pholidota (from Ancient Greek φολῐ́ς, "horny scale"). The one extant
      family, Manidae, has three genera: Manis, Phataginus and Smutsia. Manis
      comprises the four species found in Asia, while Phataginus and Smutsia
      include two species each, all found in Sub-Saharan Africa. These species
      range in size from 30 to 100 cm (12 to 39 in). A number of extinct
      pangolin species are also known.
    </p1>

    <h3>Description</h3>
    <p2>
      Pangolins have large, protective keratin scales covering their skin; they
      are the only known mammals with this feature. They live in hollow trees or
      burrows, depending on the species. Pangolins are nocturnal, and their diet
      consists of mainly ants and termites, which they capture using their long
      tongues. They tend to be solitary animals, meeting only to mate and
      produce a litter of one to three offspring, which they raise for about two
      years.
    </p2>

    <h4>Poaching</h4>
    <p3>
      Pangolins are threatened by poaching (for their meat and scales, which are
      used in Chinese traditional medicine) and heavy deforestation of their
      natural habitats, and are the most trafficked mammals in the world.As of
      January 2020, of the eight species of pangolin, three (Manis culionensis,
      M. pentadactyla and M. javanica) are listed as critically endangered,
      three (Phataginus tricuspis, Manis crassicaudata and Smutsia gigantea) are
      listed as endangered and two (Phataginus tetradactyla and Smutsia
      temminckii) are listed as vulnerable on the Red List of Threatened Species
      of the International Union for Conservation of Nature.
    </p3>
    <h2>Breads</h2>
    <ul>
      <li>japanese</li>
      <ul>
        <li>kharab</li>
        <li>achha</li>
        <li>na khaiem</li>
      </ul>

      <li>chinise</li>
      <ol>
        <li>aman</li>
        <li>anupam</li>
      </ol>
      <li>america</li>
      <li>pakistan</li>
    </ul>
    <div id="app"></div>

    <script src="./index.js"></script>
    <div>
      <img
        src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/22-lamborghini-aventador-svj-roadster-print-itzkirb-photography.jpg"
        alt="my favourate car and dream car"
      />
    </div>
  </body>
</html>
